{% extends "base.html" %}

{% block content %}

<table>
<tr>
<th style="text-align:left">Name</th>
<th style="text-align:left;padding-left:20pt">Address</th>
<th style="text-align:left;padding-left:20pt">e-mail</th>
<th style="text-align:left;padding-left:20pt"># Dogs</th>
</tr>
<tr>
<td>{{ person.first_name }} {{ person.last_name }}</td>
<td style="padding-left:20pt">{{ person.address }} {{ person.city }},{{ person.state }}</td>
<td style="padding-left:20pt">{{ person.email }}</td>
<td style="padding-left:20pt">{{ person.numDogs }}</td>
</tr>
</table>

{% endblock %}
