{% extends "base.html" %}

{% block content %}

<b>Pay the service fee for this dog:</b>
<p>
The service fee is just a small $9.99 fee for using this site.  All proceeds go to DogWorld.
It is the sole responsibility of the user to contact the original owner and make arrangements
 to transfer the dog.  Good luck.  
</p>

{% if error %}<p><i>{{ error_message }}</i></p>{% endif %}

<form action="/orders/new/" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Save" />
</form>

{% endblock %}
