{% extends "base.html" %}

{% block content %}
In this assignment, you will write a web database application. 
The goals of this assignment are to (1) learn how to design an entity-relationship 
model for a database appliction, and (2) gain experience designing use cases and a 
user interface for a web application, (3) learn how to program with Django or another
 Python web framework, and (4) gain experience writing a basic database application 
that includes queries, inserts, deletes, user sessions, and long term user state.
{% endblock %}
